.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hero__title {
    font-size: 38px;
    font-family: Bitter;
    color: black;
    margin-bottom: 0;
}

.Hero__subTitle {
    color: #93918F;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 2rem;
}

.Hero__linkButton {
    margin-bottom: 2rem;
}

.Hero__linkButton {
    height: 36px;
    width: 217px;
    border-radius: 4px;
    background-color: #FDB755;
    color: white;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.Hero__image img {
    width: 100%;
}

.Hero__subreddit {
    color: #93918F;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.Info__block {
    margin: 0;
    width: 50% !important;
    margin-top: 5rem;
    line-height: 28px;
}

.Info__block_header {
    font-size: 24px;
    font-family: Bitter;
    color: black;
    margin-bottom: 1rem;
}

.Info__block_text {
    color: #93918F;
    font-family: Montserrat, sans-serif;   
}
.Info__block_text a {
    text-decoration: none;
    color: #FDB755;   
}
