.Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 10px;
}

.textLink {
    color: #636363;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-decoration: none;
}